    body {
        background: #57c1e5;
    }

    #spacecraft{
        margin-top: 100px;
        width: 200px;
    }

    .rotate-phone-text {
        font-family: 'Broken Console', sans-serif;
    }

    .map-container {
        text-align: center;
        position: relative;
        width: 700px;
        height: 417px;
        background-color: #57c1e5;
        z-index: -1;
    }

    .map_image {
        width: 700px;
        height: 417px;
    }

    .point {
        position: absolute;
    }

    #ta-bw {
        width: 83px;
        height: auto;
        bottom: 113px;
        left: 289.3px;
    }

    #tb-bw {
        width: 100px;
        height: auto;
        bottom: 143px;
        right: 236px;
    }

    #tc-bw {
        width: 107px;
        height: auto;
        top: 146px;
        right: 139px;
        z-index: 1;
    }

    #td-bw {
        width: 77px;
        height: auto;
        top: 94px;
        right: 146px;
        /* z-index: 1; */
    }

    #te-bw {
        width: 129px;
        height: auto;
        top: 92px;
        right: 233px;
        z-index: 1;
    }

    #tf-bw {
        width: 142px;
        height: auto;
        bottom: 165px;
        left: 205px;
    }

    #tg-bw {
        width: 108px;
        height: auto;
        top: 15px;
        right: 228px;
    }

    .blocker {
        display: none;
    }

    .broken-console {
        font-family: 'Broken Console', sans-serif !important;
    }

    .dialog-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nes-input {
        width: 400px;
        border-image-repeat: stretch !important;
        background-clip: unset !important;
        border-width: 6px !important;
        height: 40px;

    }

    .nes-dialog.is-rounded,
    .nes-btn,
    .nes-textarea {
        border-image-repeat: stretch !important;
    }

    .nes-btn {
        font-family: 'Broken Console', sans-serif !important;
    }

    #dialog-rounded {
        height: 400px;
        overflow-y: auto;
        min-width: 400px;
        max-width: 700px;
        overflow-y: auto;
    }

    #answer {
        height: 80px;
    }

    #awan-1 {
        position: absolute;
        width: 200px;
        height: auto;
        top: 20px;
        left: 60px;
        z-index: -1;
        animation: awan1 2s infinite ease-in-out;
    }

    #awan-3 {
        position: absolute;
        width: 180px;
        height: auto;
        top: 50px;
        right: 60px;
        z-index: -1;
        animation: awan1 2s infinite ease-in-out;
    }

    #awan-5 {
        position: absolute;
        width: 150px;
        height: auto;
        top: 50px;
        left: 40px;
        z-index: 2;
        animation: awan1 2s infinite ease-in-out;
    }

    #bird-1 {
        position: absolute;
        width: 50px;
        top: 20px;
        left: -20px;
        transform: translateX(-30px);
        animation: angrybird 2s infinite linear;
        z-index: -2;
    }

    .hidden {
        display: none;
    }

    @keyframes awan1 {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 5px);
        }

        100% {
            transform: translateY(0, -0px);
        }
    }

    @keyframes angrybird {

        0% {
            transform: translate(0, 0px);
        }

        25% {
            transform: translate(30px, 15px);
        }

        50% {
            transform: translate(60px, 0px);
        }

        75% {
            transform: translate(90px, 15px);
        }

        100% {
            transform: translate(120px, -0px);
        }
    }

    @media screen and (orientation: portrait) {
        /* .map-section {
                    display: none;
                } */

        /* Display Blocker */
        /* .blocker {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    background-color: #000;
                    z-index: 1000;
                    color: #ffffff;
                } */


        #bird-1 {
            display: none
        }


        #awan-1 {
            top: 30px
        }

        #awan-3 {
            top: 60px
        }

        #awan-5 {
            width: 60px;
            top: 95px;
        }

        .title {
            margin-top: 20px;
        }
        
        .map-container{
            margin-right: 70px;
        }


        .nes-input {
            width: 100%
        }

    }